<h1>Get Weather Forecast</h1>

<%= form_with model: @weather_forecast do |f| %>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Enter address with zip code" %>
  </div>
  <%= f.submit "Get Forecast" %>
<% end %>